{% extends "layout/application.html" %}


{% block content %}

<div class="detail">
    <div class="am-g am-container">
        <div class="am-u-lg-12">
            <h1 class="detail-h1">注册</h1>
        </div>
    </div>
</div>


<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

        <form method="post" class="am-form">
            {% csrf_token %}
            <div class="am-form-group am-form-icon am-form-feedback">
                <label class="am-form-label" for="email">用户名: </label>
                <input type="text" id="name"  class="am-form-field" placeholder="输入你的用户名" name="username">
            </div>

            <div class="am-form-group am-form-icon am-form-feedback">
                <label class="am-form-label" for="email">邮箱: </label>
                <input type="text" id="email" name="email" class="am-form-field" placeholder="输入你的邮箱">
            </div>

            <div class="am-form-group am-form-icon am-form-feedback">
                <label class="am-form-label" for="password">密码: </label>
                <input type="password" name="password" id="password" class="am-form-field" placeholder="输入你的密码">
            </div>

            <div class="am-form-group am-form-icon am-form-feedback">
                <label class="am-form-label" for="password_confirmation">重复密码: </label>
                <input type="password" name="password_confirmation" id="password_confirmation" class="am-form-field"
                       placeholder="请重新输入你的密码">
            </div>

            <hr>
            <div class="am-cf">
                <input type="submit" value="Sign Up" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
        </form>
        <br>
    </div>
</div>

{% endblock content %}
