<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Laravel Meetup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/static/vendor/amazeui/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="{% url 'index' %}">Meetup</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="{% url 'issues:index' %}">活动</a></li>
                <li><a href="{% url 'about' %}">关于</a></li>
            </ul>

            {% if not request.user.is_authenticated %}
            <div class="am-topbar-right">
                <a href="{% url 'users:sign_in' %}" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">
                    <span class="am-icon-user"></span> 登录
                </a>
            </div>

            <div class="am-topbar-right">
                <a href="{% url 'users:sign_up' %}" class="am-btn am-btn-primary am-topbar-btn am-btn-sm">
                    <span class="am-icon-pencil"></span> 注册
                </a>
            </div>
            {% else %}
            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                        <li class="am-dropdown" data-am-dropdown>
                            <a class="am-btn-secondary am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                                <span class="am-icon-user"></span> {{ request.user.username }}
                                <span class="am-icon-caret-down"></span>
                            </a>
                            <ul class="am-dropdown-content">
                                <li>
                                    <a href="{% url 'users:sign_out' %}">
                                        <span class="am-icon-power-off"></span> 退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>
</header>


{% if messages %}
{% for message in messages %}
<div class="am-alert am-alert-{{ message.tags }}">
    <div class="am-container">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

{% block content %}
{% endblock content %}

<footer class="footer">
    <p class="am-padding-left">Copyright © 2020. Made With <i class="am-icon am-icon-heart"></i> By Aaron. All Rights
        Reserved.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/vendor/amazeui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/vendor/amazeui/js/amazeui.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>
